<div class="country-access-toggle-bar">
  <button
    mat-icon-button
    [class.active]="isVisible()"
    (click)="onToggle()"
    (mousedown)="onPressStart($event)"
    (mouseup)="onPressEnd($event)"
    (mouseleave)="onPressEnd($event)"
    (touchstart)="onPressStart($event)"
    (touchend)="onPressEnd($event)"
    (touchcancel)="onPressEnd($event)"
    matTooltip="Toggle Country Access Overlay (Long-press for dice roll dialog)"
    class="toggle-button">
    <mat-icon>public</mat-icon>
  </button>
</div>
