:host {
  @apply block;
}

::ng-deep .p-inputotp {
  @apply gap-2;

  .p-inputotp-input {
    width: 3rem !important;
    height: 3rem !important;
    @apply text-center;
    font-size: 1.25rem;
    font-weight: bold;
  }
}
