<div class="flex justify-center items-center h-[calc(100vh-100px)]">
  <p-card header="Join Game" styleClass="p-card-shadow w-[400px]">
    <div class="flex flex-col gap-4">
      <p-inputgroup>
        <p-inputgroup-addon>
          <i class="pi pi-key"></i>
        </p-inputgroup-addon>
        <input
          pInputText
          [(ngModel)]="roomCode"
          placeholder="Room Code"
        />
      </p-inputgroup>

      <p-inputgroup>
        <p-inputgroup-addon>
          <i class="pi pi-user"></i>
        </p-inputgroup-addon>
        <input
          pInputText
          [(ngModel)]="playerName"
          placeholder="Player Name"
        />
      </p-inputgroup>
    </div>
    <ng-template pTemplate="footer">
      <p-button
        label="Join"
        icon="pi pi-arrow-right"
        (onClick)="joinGame()"
        [loading]="isLoading"
      ></p-button>
      @if (errorMessage) {
      <div class="p-error mt-4">
        {{ errorMessage }}
      </div>
      }
    </ng-template>
  </p-card>
</div>
