<div class="flex justify-center items-center h-[calc(100vh-100px)]">
  <p-card header="Join Game" class="w-[400px] text-center">
    <div class="flex flex-col gap-4">
      <p-inputgroup>
        <p-inputgroup-addon>
          <i class="pi pi-key"></i>
        </p-inputgroup-addon>
        <input
          pInputText
          [(ngModel)]="roomCode"
          placeholder="Room Code"
        />
      </p-inputgroup>

      <p-inputgroup>
        <p-inputgroup-addon>
          <i class="pi pi-user"></i>
        </p-inputgroup-addon>
        <input
          pInputText
          [(ngModel)]="playerName"
          placeholder="Last Name"
        />
      </p-inputgroup>
    </div>
    <ng-template pTemplate="footer">
      <div class="flex flex-col items-center gap-2">
        <p-button
          label="Join"
          icon="pi pi-arrow-right"
          (onClick)="joinGame()"
          [loading]="isLoading"
        ></p-button>
        @if (errorMessage) {
        <div class="p-error">
          {{ errorMessage }}
        </div>
        }
      </div>
    </ng-template>
  </p-card>
</div>
